/* General styling */
#links a:hover, .resume-button:hover {
    background-color: white;
    color: black
}
.navbar a, .resume-button, #links a {
    transition: background-color 0.3s ease;
}
body {
    font-family: "Inter", "Poppins", sans-serif;
    margin: 0;
    padding-top: 5vh;
    line-height: 1.6;
}
html {
    scroll-behavior: smooth;
}
.scroll-animation {
    opacity: 0;
    transition: opacity 1.5s ease-out;
}
h2 {
    text-align: center;
    font-size: 3em;
    margin-bottom: 7vh;
    position: relative;
}
h2::after {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 9em;
    height: 2px;
    max-width: 90%;
    background: linear-gradient(to right, transparent, #b7b7b7, transparent); /* Adjust this value to change the color of the line */
}
.scroll-animation.animate {
    opacity: 1;
}
ul {
    margin-top: 0;
}
li {
    padding-bottom: 1em;
}
footer {
    text-align: center;
    padding: 1em 0;
    background-color: #0e0e0e;
    color: white;
    font-size: 1em;
    bottom: 0;
    width: 100%;
    margin-top: 10vh;
}

/* Navigation Bar styling */
.navbar a:hover{
    background-color: black;
    transition: all .5s ease;
}
.navbar {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow: hidden;
    background-color: rgba(2, 2, 2, 0.95);
    backdrop-filter: blur(10px);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
}
.navbar a {
    float: none;
    display: block;
    color: #f2f2f2;
    font-weight: 500;
    position: relative;
    text-align: center;
    padding: 1.2em 5vh;
    text-decoration: none;
}
.navbar a:hover::after {
    width: 100%;
    left: 0;
}
.dropdown-button {
    display: none;
    color: white;
    font-size: 3vh;
    height: 4vh;
    margin-right: 1vh;
    margin-top: 1vh;
}

.navbar-links {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}


/* Home styling */
#home {
    height: 95vh;
    display: flex;
    align-items: center;
    background-color: black;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
}
.name {
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 8vw;
    margin-top: 20vh;
    margin-bottom: -10vh;
}
.resume-button {
    display: inline-block;
    font-size: 2vh;
    padding: 1em 1.3em;
    border: none;
    border-radius: 50px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    border: 2px solid white;
    color: white;
    margin-bottom: 15vh;
}
.software-engineer {
    white-space: nowrap;
    overflow: hidden;
    font-size: 3vw;
    color: white;
}
#links a{
    font-size: 2em;
    padding-top: .8vw;
    padding-bottom: .8vw;
    color: white;
    text-decoration: none;
    padding-left: .8vw;
    padding-right: .8vw;
}
#links a:first-child {
    border-top-right-radius: 10px;
}
#links a:last-child {
    border-bottom-right-radius: 10px;
}
#links {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: #0e0e0e;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* About styling */
.image-container, .text-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 40%;
}
.image-container img {
    width: 20vw;
    height: auto;
    border-radius: 100%;
}
.grid-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Experience styling */
.experience-title {
    top: 0;
    margin-left: 30%;
    font-weight: 600;
}
.experience-details {
    max-width: 70%;
}
.experience {
    align-items: flex-start;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5em;
}
.company-name {
    font-size: 1.5em;
}
.dates-worked {
    color:#909090;
}
.skill {
    background-color: #f2f2f2;
    color: black;
    font-size: 0.9em;
    font-weight: 500;
    padding: .5em 1em;
    margin-right: .5em;
    margin-bottom: .5em;
    border-radius: 2em;
    display: inline-block;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

/* Contact styling */
#contact p{
    max-width: 80%;
    margin: 0 auto;
    overflow: auto;
}

/* Media queries */
@media (min-width: 1024px) {
    .navbar {
        height: 5vh;
    }
}
@media (max-width: 1024px) {
    .dropdown-button {
        display: block;
        align-self: flex-end;
    }
    .navbar-links {
        display: none;
        flex-direction: column;
        width: 100%;
        justify-content: normal;
        overflow: hidden;
        height: 0;
        animation-name: slide;
        animation-duration: .5s;
        animation-timing-function: ease;
        animation-fill-mode: forwards;
        transform: translate(0, 95vh)
    }
    .navbar-links.show {
        display: flex;
        height: 95vh;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
    .navbar a {
        font-size: 3vh;
        text-align: left;
    }
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    .experience {
        display: block;
    }
    .experience-title {
        margin-left: 0;
        text-align: center;
    }
    .experience-details {
        display: inline;
    }
    .grid-content {
        flex-direction: column;
    }
    .image-container img {
        width: 100%;
    }
    .text-container {
        max-width: 90%;
    }
    h2 {
        margin-bottom: 2vh;
        font-size: 8vw;
    }
    .name {
        font-size: 10vw;
    }
    .software-engineer {
        font-size: 5vw;
    }
}
@keyframes slide {
    0% {
        transform: translate(0, -20px);
        opacity:.1
    }
    100% {
        transform: translate(0, 0);
        opacity:1
    }
}